In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import plotly.plotly as py
import plotly.graph_objs as go

# Reading scrapped data of bitcoin value on daily basis

In [2]:
BitcoinData = pd.read_csv('coindesk-bpi-USD-ohlc_data-2010-07-18_2016-09-16.csv')

In [64]:
Bitcoin = pd.read_excel(BitcoinData, 'Sheet1')

In [125]:
BitcoinData = pd.ExcelFile('Book1.xls')
Bitcoin = pd.read_excel(BitcoinData, 'Sheet1')

In [126]:
Bitcoin.head(5)

        Date   Price    Open    High     Low  Change %
0 2016-08-23  582.67  585.05  591.87  578.50   -0.0040
1 2016-08-22  585.02  579.06  594.80  576.02    0.0103
2 2016-08-21  579.06  578.34  581.72  576.13    0.0013
3 2016-08-20  578.34  572.54  582.12  570.76    0.0101
4 2016-08-19  572.54  571.81  575.00  566.11    0.0013

In [130]:
BitcoinData['Date'] = pd.to_datetime(BitcoinData['Date'])

In [132]:
mask = (Bitcoin['Date'] > '2013-01-01') & (Bitcoin['Date'] <= '2015-12-01')

In [134]:
Bitcoin.loc[mask]

           Date   Price    Open    High     Low  Change %
265  2015-12-01  360.00  373.81  376.00  353.00   -0.0370
266  2015-11-30  373.81  368.70  379.80  365.08    0.0140
267  2015-11-29  368.67  353.25  370.56  353.00    0.0436
268  2015-11-28  353.25  351.96  354.45  345.00    0.0037
269  2015-11-27  351.96  342.36  358.89  339.46    0.0280
270  2015-11-26  342.36  327.00  367.51  326.74    0.0470
271  2015-11-25  327.00  317.95  328.74  315.00    0.0285
272  2015-11-24  317.95  319.69  320.34  314.90   -0.0055
273  2015-11-23  319.69  321.01  322.00  318.44   -0.0041
274  2015-11-22  321.00  323.99  324.00  315.94   -0.0083
275  2015-11-21  323.70  319.20  327.00  317.50    0.0141
276  2015-11-20  319.20  323.24  324.00  309.00   -0.0125
277  2015-11-19  323.24  331.40  332.54  320.43   -0.0246
278  2015-11-18  331.40  330.73  333.30  326.05    0.0006
279  2015-11-17  331.21  326.29  334.00  325.50    0.0150
280  2015-11-16  326.31  315.64  327.82  310.64    0.0338
281  2015-11-15  315.64  330.13  330.50  311.68   -0.0455
282  2015-11-14  330.70  333.41  335.57  324.40   -0.0081
283  2015-11-13  333.41  334.08  338.00  324.14   -0.0022
284  2015-11-12  334.15  310.77  339.69  309.96    0.0817
285  2015-11-11  308.91  337.68  344.13  297.00   -0.0855
286  2015-11-10  337.78  372.33  375.00  328.00   -0.0928
287  2015-11-09  372.33  365.31  375.90  354.10    0.0192
288  2015-11-08  365.31  373.00  379.50  358.70   -0.0167
289  2015-11-07  371.50  363.44  380.00  361.77    0.0222
290  2015-11-06  363.44  381.09  387.18  337.23   -0.0484
291  2015-11-05  381.94  404.80  440.00  363.45   -0.0565
292  2015-11-04  404.80  375.00  459.20  373.27    0.0816
293  2015-11-03  374.25  334.77  398.02  327.00    0.1179
294  2015-11-02  334.77  305.74  338.88  304.40    0.0949
...         ...     ...     ...     ...     ...       ...
1298 2013-01-31   20.09   19.34   21.11   19.00    0.0518
1299 2013-01-30   19.10   18.85   19.35   18.56    0.0133
1300 2013-01-29   18.85   18.23   19.20   18.14    0.0382
1301 2013-01-28   18.16   17.27   18.22   17.27    0.0494
1302 2013-01-27   17.30   17.25   17.60   16.90    0.0031
1303 2013-01-26   17.25   17.08   17.25   16.50    0.0144
1304 2013-01-25   17.00   16.65   17.50   15.21    0.0187
1305 2013-01-24   16.69   17.18   18.80   15.80   -0.0237
1306 2013-01-23   17.10   16.95   17.20   16.30   -0.0020
1307 2013-01-22   17.13   16.20   17.49   16.13    0.0575
1308 2013-01-21   16.20   15.44   16.60   15.36    0.0533
1309 2013-01-20   15.38   15.29   15.50   15.10    0.0061
1310 2013-01-19   15.29   15.28   15.44   15.06    0.0003
1311 2013-01-18   15.28   15.32   15.78   15.10   -0.0025
1312 2013-01-17   15.32   14.39   15.32   14.35    0.0642
1313 2013-01-16   14.40   14.00   14.40   13.93    0.0333
1314 2013-01-15   13.93   14.00   14.06   13.90   -0.0076
1315 2013-01-14   14.04   13.92   14.04   13.80    0.0085
1316 2013-01-13   13.92   13.92   14.00   13.90    0.0000
1317 2013-01-12   13.92   14.04   14.10   13.90   -0.0085
1318 2013-01-11   14.04   13.93   14.10   13.82    0.0073
1319 2013-01-10   13.94   13.56   14.16   13.51    0.0231
1320 2013-01-09   13.62   13.58   13.79   13.48    0.0078
1321 2013-01-08   13.52   13.29   13.65   13.24    0.0218
1322 2013-01-07   13.23   13.09   13.29   13.07    0.0077
1323 2013-01-06   13.13   13.11   13.19   13.07    0.0012
1324 2013-01-05   13.11   13.23   13.24   13.09   -0.0087
1325 2013-01-04   13.23   13.21   13.24   13.15    0.0016
1326 2013-01-03   13.21   13.22   13.24   13.12   -0.0006
1327 2013-01-02   13.22   13.20   13.25   13.16    0.0011

[1063 rows x 6 columns]

In [136]:
Bitcoin = Bitcoin.loc[mask]

In [137]:
Bitcoin.head(2)

          Date   Price    Open   High     Low  Change %
265 2015-12-01  360.00  373.81  376.0  353.00    -0.037
266 2015-11-30  373.81  368.70  379.8  365.08     0.014

In [139]:
import plotly.plotly as py
import plotly.graph_objs as go
trace1 = go.Scatter(
    y = Bitcoin['Price'],
    x = Bitcoin['Date'],
    mode='markers',
    name = 'OPEN'
   
)


data = [trace0]
py.iplot(data, filename='scatter-mode')

In [4]:
BitcoinData.head(2)

                  Date  Open  High   Low  Close
0  2010-07-18 00:00:00  0.05  0.09  0.06   0.09
1  2010-07-19 00:00:00  0.09  0.09  0.08   0.08

In [11]:
import plotly.plotly as py
import plotly.graph_objs as go
trace0 = go.Scatter(
    y = BitcoinData['Open'],
    x = BitcoinData['Date'],
    mode='markers',
    name = 'OPEN',
    marker = dict(
        size = 4,
        color = 'rgba(10, 255, 31, 1)',
        line = dict(
            width = 1,
        )
    )
    
   
   
)
trace1 = go.Scatter(
    y = BitcoinData['High'],
    x = BitcoinData['Date'],
    name = 'HIGH',
    mode = 'markers',
    marker = dict(
        size = 3,
        color = 'rgba(0, 32, 240, 1)',
        line = dict(
            width = 1,
        )
    )
    
   
)
trace2 = go.Scatter(
    y = BitcoinData['Low'],
    x = BitcoinData['Date'],
    mode = 'markers',
    name = 'LOW',
    marker = dict(
        size = 2,
        color = 'rgba(255, 10, 10, 1)',
        line = dict(
            width = 1,
        )
    )
    
   
)
trace3 = go.Scatter(
    y = BitcoinData['Close'],
    x = BitcoinData['Date'],
    mode = 'markers',
    name = 'CLOSE',
    marker = dict(
        size = 1,
        color = 'rgba(255, 122, 196, .9)',
        line = dict(
            width = 1,
        )
    )
    
   
)



data = [trace0,trace1,trace2,trace3]
py.iplot(data, filename='scatter-mode')

In [2]:
YearD = pd.ExcelFile('YearData.xlsx')
Ydata = pd.read_excel(YearD, 'Sheet1')

In [3]:
Ydata.head(5)

   Date      max     min
0  2010     0.30    0.05
1  2011    29.60    0.29
2  2012    13.70    4.20
3  2013  1147.25   13.28
4  2014   940.10  309.87

In [4]:
trace1 = go.Bar(
    x=Ydata['Date'],
    y=Ydata['min'],
    name='Minimum Value'
)
trace2 = go.Bar(
    x=Ydata['Date'],
    y=Ydata['max'],
    name='Maximim Value'
)

data = [trace1, trace2]
layout = go.Layout(
    barmode='group'
)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='grouped-bar')

In [12]:
B = pd.ExcelFile('main.xlsx')
Bit = pd.read_excel(B, 'Sheet1')

In [14]:

trace1 = go.Scatter(
    y = Bit['% change open closing(clos-open)/open'],
    x = Bit['Date'],
    mode='markers',
    name = 'OPEN'
   
)


data = [trace1]
py.iplot(data, filename='scatter-mode')